html { 
	height: 100%;
}
      
body { 
	height: 100%; 
	margin: 0; 
	padding: 0 
}

#map-canvas { 
	height: 100%;
}

#menu{
	width:30%; 
	/*height:30%;*/
	background-color: white;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 15px;
	border: 1px solid #ACAAAA;
	overflow: hidden;
}

#topo_menu {
    font-size:20px;
	text-align: center;
	color:#333333;
}

#titulo_menu {
    font-size:20px;
	text-align: center;
}