html { 
	height: 100%;
}
      
body { 
	height: 100%; 
	margin: 0; 
	padding: 0 
}

#map-canvas { 
	height: 100%;
}

#desc_menu {
    padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
	font-family: Lucida Grande, Lucida Sans Unicode, Arial, Helvetica, sans-serif;
	color:#333333;
	text-align:center;
}

#menu{
	width:30%; 
	/*height:30%;*/
	background-color: white;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 15px;
	border: 1px solid #ACAAAA;
	overflow: hidden;
}

#topo_menu {
    font-size:20px;
	text-align: center;
	color:#333333;
}

#titulo_menu {
    font-size:20px;
	text-align: center;
}

#graficos {
    padding-left: 10px;
	padding-right: 10px;
}